.about_darck{
    background-color: black;
    height: 971px;
    width: 100%;
    margin-top: -97px;
}
.gl_img{
    display: flex;
.img1{
    margin-top: 113px;
    margin-left: -21px;
    

    .img11{
        width: 359px;
        height: 390px;
        border-radius: 15px;

    }
}
.img2{
    margin-left: -358px;
    margin-top: 553px;
    
    .img22{
        width: 359px;
        height: 390px;
        border-radius: 15px;

    }
}
.img3{
    margin-top: 99px;
    margin-left: 1090px;
    
    .img33{
        width: 316px;
        height: 390px;
        border-radius: 15px;

    }
}
.img4{
    margin-top: 556px;
    margin-left: -308px;
   

    .img44{
        width: 316px;
        height: 390px;
        border-radius: 15px;

    }
}
}