.about_darck{
    background-color: black;
    height: 961px;
    width: 100%;
    margin-top: -97px;
}
.gl_img{
    display: flex;
 

}
.about_inner{
    overflow: hidden;
}
.my_about{
    
    color: wheat;
    margin-left: 986px;
    z-index: 99;
    position: absolute;
    line-height: 22px;
    .my_fullname{
    margin-top: -433px;
    color: wheat;
    width: 500px;
    .name{
        color: aqua;
    }
   
    
}

.my_inf{
    margin-top: -664px;
    color: wheat;
    


}
.my_inf2{
    color: wheat;
    
}}
.img{
    margin-top: 120px;
    width: 100% !important;
    
    .img11{
        width: 400px;
    }
    .img22{
        width: 460px;
        height: 529px; 
    }
    .img33{
        width: 400px;

    }
    .img44{
        width: 400px;
    }
    .img55{
        width: 400px;
    }
    .img66{
        width: 530px;
    }
    .img77{
        width: 530px;
    }
    .img88{
        width: 400px;
    }
    .img99{
        width: 530px;
    }
}
.swiper-slide{
    // width: 1500px !important;
}