.Skillis_inner{
          background-color: #271717;
          width: 1921px;
          height: 947px;
          margin-left: -51px;
          margin-top: -83px;
.skils_img{
         
 

.img_f{
          width: 266px;
          margin-left: 362px;
          margin-top: 32px;
}
.img_c{
          width: 200px;
}
.img_h{
          width: 200px;
          margin-left: 70px;
}
.img_j{
          width: 200px;
          margin-left: 100px;
}
.img_b{
          width: 200px;
          margin-left: 392px;
          margin-top: 150px;
}
.img_s{
          width: 200px;
          margin-left: 55px;
}
.img_g{
          width: 200px;
          margin-left: 65px;
}
.img_r{
          width: 200px;
          margin-left: 95px;
         
}
}
.my_s{
          margin-left: 820px;
          padding-top: 115px;
          color: aqua;
      }
.skls_text{
          color: aqua;
          margin-left: 342px;
          margin-top: 50px;
          font-size: 20px;
          
}

}
   
