.hero_inner {
    display: flex;
    z-index: -1;

    .logo {
        z-index: 99;
        margin-top: -478px;
        margin-left: 968px;
    }

    .logo_img {
        height: 633px;
        width: 471px;
    }
}

.backgraund__left {
    width: 55%;
    height: 100%;
    background: #D7D7D7;
    width: 970px;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    margin-top: -518px;
    margin-left: -52px;
}

.backgraund__right {
    width: 60%;
    height: 100%;
    background-color: black;
    position: absolute;
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
    margin-left: 720px;
    margin-top: -518px;
}
