.container{
    max-width: 1920px;
    margin: 0 auto;
}
.link_gl {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    max-width: 900px;
    margin-left: 150px;

.logo_my {
    border-radius: 50%;
    width: 100px;
    margin-top: 100px;
}
.link_2{
    text-decoration: none;
}
.link_3{
    text-decoration: none;
}
.link_4{
    text-decoration: none;
}
.link_5{
    text-decoration: none;
}



}