
.Header{
    background: #D7D7D7;
    width: 1068px;
    height: 759px;
    z-index: 99;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}
.logo_my {
    border-radius: 50%;
    width: 70px;
    margin-top: 7px;
    margin-left: 8px
}
